<!-- start custom footer snippets -->

<div class="page__footer-follow">
    <ul class="social-icons">
        <li><a href="https://scholar.google.com/citations?user=hD_mltMAAAAJ"><i class="ai ai-google-scholar-square ai-3x" aria-hidden="true"></i></a></li>
        <li><a href="http://orcid.org/0000-0002-9066-6054"><i class="ai ai-orcid ai-3x" aria-hidden="true"></i></a></li>
        <li><a href="https://www.researchgate.net/profile/Callum-Altham"><i class="ai ai-researchgate ai-3x" aria-hidden="true"></i></a></li>
        <li><a href="https://www.linkedin.com/in/callumaltham"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
        <li><a href="https://github.com/CallumAltham"><i class="fab fa-github" aria-hidden="true"></i></a></li>
    </ul>
</div>
<!-- end custom footer snippets -->
