@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;600;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
}

body
{
    background-color: #ccc;
}

#buttons, #pokemon-list
{
    list-style-type: none;
}

.pokemon-card
{
    background-color: red;
    max-width: 150px;
    height: 185px;
    display: grid;
    justify-content: center;
    border-radius: 15px;   
    text-transform: capitalize;
    justify-items: center;
    box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.pokemon-number
{
    background-color: grey;
    padding: 4px;
    border-radius: 5px;
}

.pokemon-name, .pokemon-type
{
    padding: 5px;
}


