*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html 
{
    scroll-behavior: smooth;
}

#home
{
    background-image: url('../MEDIA/IMG/home-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo, #scroll, #banner
{
    color: white;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

#banner h1
{
    font-weight: 700;
    font-size: 60px;
    text-align: center;
}

#scroll i
{
    font-size: 40px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    cursor: pointer;
    color: white;
}

#scroll a
{
    text-decoration: none;
}

.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: linear;
}

@keyframes bounce-1 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

#about-left #description
{
    padding: 0px 40px 0px 40px;
}

#description h2
{
    font-size: 80px;
    padding-bottom: 40px;
}